:root {
/* colors */
/* Picked from Kirchner Works*/

  --black: #282629;
  --yellow: #ffb737;
  --yellor: #e97c07;
  --creamy: #f9df8b;
  --red: #e11030;
  --blue: #368cbb;
  --redpink: #d05b52;
  --pink: #e192af;
  --magenta: #74568a;
  --greeny: #afa752;

/*apply*/
  --col_heads:      var(--redpink);
  --col_heads_rl:   var(--pink);
  --col_links:      var(--blue);
  --col_box_shadow: var(--magenta);
  --col_box_text:   var(--creamy);
  --col_footer:     var(--yellor);
  --col_footnotes:     var(--greeny);
  --col_hr:         var(--magenta);

/* sizes */
   --normal: 1.0em;
   --footnotesize: 0.8em;
   --small:  0.6em;
   --tiny:   xx-small;

}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  padding: 10px 50px 0 0;
  font-family: sans-serif;
  font-size: 18px;
  background-color: var(--black);
  color: var(--yellow);
  margin: 0;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  align-items: center;
 justify-items: center;
}

article {
  max-width:700px;
  width: 77ch;
  float: left;
  padding: 70px;
}

@media (min-width: 68rem) {
  article  {
  float: right;
  padding-bottom: 50px;
  }
}
/* Using a rough estimate of 1rem = 1character */
@media (min-width: 78rem) {
  article  {
  float: right;
  padding-bottom: 50px;
  }
}

.author {
  margin:0 0 0px;
  font-weight: 700;
}

.author-affiliations {
  margin:0 0 0px;
  font-style: italic;
}

.contact_email {
  font-style: oblique 45;
}

.abstract{
  font-weight: 700;
 display:block;
}
details {
  padding: 4px;
  margin: 0;
  box-shadow: 2px 2px 2px var(--col_box_shadow);
  font-size: 0.8em;
  color: var(--col_box_text);
  line-height: 1.4em;
}

details > summary {
  padding: 4px;
  cursor: pointer;
  font-style: italic;
}

 details ul {
  list-style-type: disclosure-closed;
}


h1, h2, h3, h4 {
  border-bottom: 2px solid var(--col_heads_rl);
  font-family: Arvo, Monaco, serif;
  font-weight: normal;
  color: var(--col_heads);
}

h1 {
  margin: none;
  font-size: 32px;
  border: none;
  text-align: center;
}

/* for subtitle*/
h1 + h2 {
  text-align: center;
  padding-bottom: 2em;
}

h2 {
  font-size: 28px;
}

a {
  font-weight:200;
  text-decoration:none;
  color: var( --col_links);
}

a:hover {
  color: var(--red);
  text-decoration: underline;
}


hr{
 border: 2px solid var(--col_hr);
}


/* Images */

.gallery{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

h4.gallery {
  width:100%
}

.gallery figure {
  width: 25%;
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
}

.gallery img {
  max-height: 100%;
  min-width: 100%;
  justify-content: center;
}

.gallery figcaption {
  align-self: center;
  border-top: 2px solid rgb(169, 13, 94);
  border-bottom: 2px solid rgb(169, 13, 94);
  font-size: 80%;
}

mark {
    background-color: unset;
    color: var(--yellor);
    font-family: monospace;
}

q { quotes: "“" "”" "‘" "’"; }

blockquote {
  margin: 1.5em 1.5em;
  padding: 1.5em 1.5em;
  quotes: "“" "”" "‘" "’";
  color: #ccc;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  font-style: italic;
  display: inline;
}

blockquote footer:before {
	content: '–';
	position: absolute;
	left: -.6em;
}

.footnotes{
  color: var(--col_footnotes);
  font-size: 0.8em;
  line-height: 1.4em;
  text-align: left;
}

footer {
  color: var(--col_footer);
  width: 170px;
  float: right;
  padding-left: 10px;
  font-family: monospace;
  font-weight: normal;
  font-size: 9px;
  line-height: 1rem;
  text-align: left;
}

@media (min-width: 48em) {
  footer  {
  width: 175px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
  }
}

